@use 'variables' as v;

@mixin font-style($style: normal, $weight: 400) {
    color: v.$primary-color;
    font: {
        family: 'Mulish', sans-serif;
        style: $style;
        weight: $weight;
    }
}

@mixin font-size($size: 18px, $line: 23px) {
    font-size: $size;
    line-height: $line;
}