/* font styles */
$primary-color: #111111;
$secondary-color: #4A4FF2;
$opacity: 0.6;
$border-color: #979797;
$spacing: -0.346154px;
$mix-blend-mode: normal;

/* container styles */
$container-width: 1110px;

$border-style: 0.5px solid $border-color;