/* font styles */
$fonts: 'Mulish', sans-serif;
$primary-color: #111111;
$secondary-color: #4A4FF2;
$font-style: normal;
$font-bold: 700;
$font-norm: 400;

/* container styles */
$container-width: 1110px;