@use 'variables' as v;
@use 'mixin' as m;

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

/* HEADER */
.head {
    @include m.header;
}

/* NAV BAR in header & footer */
ul {
    list-style-type: none;
}

a {
    @include m.anchor;
}

li {
    float: left;
    padding-left: 30px;
}

/* CONTENT */
.content {
    max-width: v.$container-width;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.content__text {
    max-width: 445px;
    width: 100%;

    h1 {
        @include m.font-style($weight:700);
        @include m.font-size($size:40px, $line:55px);
    }

    p {
        @include m.font-style;
        @include m.font-size($size:16px, $line:26px);
        mix-blend-mode: v.$mix-blend-mode;
        opacity: 0.8;
    }
}

/* FORM */
form {
    max-width: 475px;
    width: 100%;
    min-height: 291px;
    display: inline-flex;
    flex-direction: column;

    @include m.font-style($weight:700);
    @include m.font-size($size:16px, $line:20px);
}

.form__field {
    border-bottom: 1px solid rgba(v.$border-color, 0.5);
    height: 37px;
    margin-top: 46px;
    display: inline-flex;
    transition: border 0.3s ease;

    label {
        @include m.font-style($weight:700);
        @include m.font-size($size:16px, $line:20px);
        mix-blend-mode: v.$mix-blend-mode;
        opacity: v.$opacity;
    }

    input {
        width: 100%;
        padding-left: 10px;
        transform: translate(5px, -8px);

        &:hover {
            border: 1px solid rgb(211, 210, 210);
        }

        &:focus {
            border: 1px solid black;
        }
    }
}

.form__button {
    width: 125px;
    height: 50px;
    color: white;
    background-color: v.$secondary-color;
    margin-top: 38px;
    transition: all 0.3s ease;

    &:hover {
        background-image: linear-gradient(rgba(0,0,0,0.3));
        cursor: pointer;
    }

    &:active {
        transform: scale(1.05);
    }
}

/* MAP */
.map {
    max-width: v.$container-width;
    width: 100%;
    display: flex;
    margin: 120px auto 0px auto;
}

/* FOOTER */
.footer {
    @include m.footer;
}

.footer__links {
    @include m.footer__links;
}

.footer__icons {
    @include m.footer__icons;
}