@use 'variables';

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* secondary color in text */
.second-color {
    color: variables.$secondary-color;
}

/* HEADER */
.head {
    font-family: variables.$fonts;
    color: variables.$primary-color;
    font-style: variables.$font-style;
    font-weight: variables.$font-bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;

    display: flex;
    max-width: 1110px;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin: 60px auto;
}

/* NAV BAR in header */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: variables.$primary-color;
}

li {
    float: left;
    padding-left: 30px;
}

/* CONTENT below header */
.content {
    max-width: 1110px;
    width: 100%;
    min-height: 250px;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

.content__text {
    font-family: variables.$fonts;
    color: variables.$primary-color;
    font-style: variables.$font-style;
    font-weight: variables.$font-bold;
    max-width: 635px;
    width: 100%;
}

.content__text h3 {
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.423077px;
}

.content__text h2 {
    font-size: 40px;
    line-height: 60px;
}

.content__side {
    font-family: variables.$fonts;
    color: variables.$primary-color;
    font-style: italic;
    font-weight: variables.$font-norm;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    mix-blend-mode: normal;
    opacity: 0.6;

    max-width: 210px;
    width: 100%;
    height: 35px;
    align-self: flex-end;
    transform: translateY(-60px);
}

.content__hr {
    width: 10%;
    margin: 0;
    transform: translateY(25px);
    border: 1px solid variables.$primary-color;
    opacity: 0.6;
}

/* GALLERY */
.gallery {
    display: flex;
    min-height: 2050px;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.gallery__container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    gap: 20px;
    min-height: 1960px;
    max-width: 1110px;
    width: 100%;
   
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-area: 1/1/8/4;
}

.gallery__item--2 {
    grid-area: 1/4/7/7;
}

.gallery__item--3 {
    grid-area: 1/7/11/10;
}

.gallery__item--4 {
    grid-area: 8/1/16/4;
}

.gallery__item--5 {
    grid-area: 7/4/14/7;
}

.gallery__item--6 {
    grid-area: 11/7/18/10;
}

.gallery__item--7 {
    grid-area: 16/1/24/4;
}

.gallery__item--8 {
    grid-area: 14/4/23/7;
}

.gallery__item--9 {
    grid-area: 18/7/27/10;
}

.gallery__item--10 {
    grid-area: 24/1/33/4;
}

.gallery__item--11 {
    grid-area: 23/4/33/7;
}

.gallery__item--12 {
    grid-area: 27/7/33/10;
}