@use 'variables' as v;
@use 'mixin' as m;

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* HEADER */
.head {
    @include m.header;
}

/* NAV BAR in header & footer */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: v.$primary-color;
}

li {
    float: left;
    padding-left: 30px;
}

/* ARTICLE */
.content {
    display: flex;
    max-width: v.$container-width;
    width: 100%;
    min-height: 350px;
    margin: auto;
    justify-content: space-between;
}

.article__container {
    h1 {
        @include m.font-style($weight:700);
        @include m.font-size($size:40px, $line:55px);
        max-width: 500px;
        width: 100%;
    }

    p {
        @include m.font-style;
        @include m.font-size($size:16px, $line:26px);
        mix-blend-mode: v.$mix-blend-mode;
        opacity: 0.8;
        max-width: 635px;
        width: 100%;
        margin-top: 30px;
    }
}

.article__grid {
    display: grid;
    margin: auto;
    min-height: 343px;
    grid-template-columns: 137px 165px;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 40px;

    @include m.font-style($weight:700);
    @include m.font-size;
    

    %article-grid {
        padding-bottom: 18px;
        padding-top: 18px;
        border-bottom: 0.5px solid rgba(v.$border-color, 0.5);
    }

    h4 {
        mix-blend-mode: v.$mix-blend-mode;
        opacity: 0.5;
        @extend %article-grid;
    }

    p {
        @extend %article-grid;
    }
}

/* MAIN IMAGE */
.main-image {
    max-width: v.$container-width;
    width: 100%;
    margin: 60px auto 0px auto;

}

/* CAPTION */
.caption {
    max-width: v.$container-width;
    width: 100%;
    margin: 45px auto;

    @include m.font-style;
    @include m.font-size($size:16px, $line:26px);
    mix-blend-mode: v.$mix-blend-mode;
    opacity: 0.8;
}

/* SMALLER IMAGES */
.small-images {
    max-width: v.$container-width;
    width: 100%;
    display: flex;
    gap: 30px;
    margin: auto;
}

/* FOOTER */
.footer {
    @include m.footer;
}

.footer__links {
    @include m.footer__links
}

.footer__icons {
    @include m.footer__icons
}