/* font styles */
/* container styles */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* HEADER */
.head {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
  height: 60px;
}

/* NAV BAR in header & footer */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #111111;
}

li {
  float: left;
  padding-left: 30px;
}

/* FOOTER */
.footer {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  border-top: 0.5px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  width: 100%;
  min-height: 145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 50px auto;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}